.blue {
  color: #6E63F8!important;
}

.grey {
  color: #C9C7DB!important;
}

body {
  font-family: Outfit, sans-serif;
  padding: 0px 140px;
}

.header {
  padding: 72px 0px;
}

.header > a {
  font-size: 25px;
}

ul.header-navigation {
  display: inline-block;
  float: right;
}

ul.header-navigation > li {
  font-size: 20px;
  letter-spacing: 0px;
  display: inline-block;
  margin-right: 40px;
}

ul.header-navigation > li:last-child {
  margin-right: 0;
}

ul.header-navigation li a.active {
  color: #262626!important;
  border-bottom: 2px solid #262626;
}

.home-screen h1 {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 22px;
}

.home-screen p {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  letter-spacing: 0px;
}

.home-screen a {
  display: block;
  font-size: 23px;
  margin-top: 13px;
  margin-bottom: 72px;
}

.hpRightSectionOne {
  position: relative;
  height: 271px;
  margin-bottom: 72px;
}

.hpRightSectionOne img {
  position: absolute;
  right: 0;
  top: -30px;
}

.rectangles {
  position: absolute;
  right: 0;
  display: inline-block;
  background-color: #262626;
  height: 72px;
}

.homeLeft {
  position: relative;
}

.spacer {
  position: absolute;
  display: block;
  background-color: #C9C7DB;
}

.spacer1, .spacer2 {
  width: 2px;
}

.spacer3, .spacer4 {
  height: 2px;
}

.spacer1 {
  height: 430px;
  top: 0;
  right: 0;
  right: -34px;
}

.spacer2 {
  height: 50px;
  right: -34px;
  bottom: 112px;
}

.spacer3 {
  width: 504px;
  top: 0;
  height: 2px;
}

.spacer4 {
  top: 0;
  width: 439px;
  right: 0;
}

.rectangles.rectangleTop {
  width: 348px;
}

.rectangles.rectangleMiddle {
  width: 121px;
  top: 50%;
  margin-top: -36px;
}

.rectangles.rectangleBottom {
  width: 440px;
  bottom: 0;
  z-index: 3;
}

.hpRightSectionTwo img {
  float: right;
}

.hpRightSectionTwo a {
  display: inline-block;
  margin-left: 67px;
  font-size: 18px;
}

.footer {
  font-size: 20px;
  padding: 72px 0;
  position: relative;
}

.footerMenu {
  display: inline-block;
}

.footer a {
  display: inline-block;
  float: right;
}

.footerMenu li {
  display: inline-block;
  margin-right: 40px;
}

.footerMenu li:last-child {
  margin-right: 0;
}

.productCardWrapper {
  display: flex;
}

.productCard {
  flex: 1;
  width: 210px;
  height: 209px;
  margin-right: 20px;
}

.productCard:last-child {
  margin-right: 0;
}

.productCardOuter {
  border: 2px solid #C9C7DB;
  margin-bottom: 13px;
  height: 210px;
  position: relative;
}

.productCard img {
  max-width: 170px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}

.productCard p {
  font-size: 18px;
}

.price {
  float: right;
}

.productsScreen .productCardWrapper {
  margin-bottom: 70px;
}

.productsScreen {
  margin-bottom: 47px;
}

.filterBtn {
  border: 2px solid #C9C7DB;
  padding: 15px 25px;
  display: inline-block;
  text-align: center;
}

.filterBtn.active {
  background-color: #262626;
  color: white;
}

.men, .women {
  width: 256px;
}

.men {
  margin-right: 20px;
}

.filters {
  width: 348px;
  float: right;
}

.productsFilters {
  margin-bottom: 72px;
}
